body,
html {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100svh;
}

body {
  font-size: var(--font-size-base);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  background: none;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
