.spinner {
  border: 4px solid var(--color-primary);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 10%);
  backdrop-filter: blur(2px);
  z-index: 10;

  .spinner {
    width: 24px;
    height: 24px;
  }
}

.fullscreen-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(3px);
  z-index: 9999;

  .spinner {
    width: 40px;
    height: 40px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
